header {
	width: 100%;
	position: sticky;
	top: 0;
	padding: 12px 0;
	z-index: 10;
	background-color: var(--light);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
header .logo-wrapper .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .logo-wrapper svg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
header .logo-wrapper h2{
    font-size: 28px;
	line-height: 1.2em;
    margin: 0;
    font-weight: bold;
    color: var(--blue);
}
/* search */
header .search-form-wrapper{
    width: 40%;
}
header .search-form{
    display: inline;
    border-radius: 100px;
    padding: 8px 15px;
    background-color: var(--sub-background);
    position: relative;
    display: flex;
    align-items: center;
}
header .search-form #input-search{
    width: 100%;
    border: 0;
    background-color: transparent;
    outline: none;
}
header .icon-wrapper{
    position: absolute;
    right: 10px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
header .icon-wrapper:hover{
    background-color: var(--light-medium);
}
header .icon-wrapper svg{
    width: 16px;
    height: 16px;
    border-radius: 50px;
}
header .search-form-wrapper button{
    display: none;
}
header .loading{
    width: 26px;
    height: 26px;
    position: absolute;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 6px;
    display: none;
}
header .loading.show{
    display: block;
}
/* list user search */
header .list-search-users{
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    left: 0;
    background-color: var(--light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 6px;
    overflow-y: auto;
    max-height: 50vh;
}

/* right menu */
header .top-menu-wrapper{	
    display: flex;
    flex-direction: row;
    user-select: none;
}
header .item-top-menu-wrapper{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    margin-right: 10px;
    position: relative;
    background-color: #ececec;
}
header .item-top-menu-wrapper:last-child{
    margin-right: 0;
}
header .item-top-menu-wrapper:hover{
    background-color: #d8d8d8;
}

header .item-top-menu-wrapper.dropdown .showdropdown{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
header .item-top-menu-wrapper .item-link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
header .item-top-menu-wrapper .item{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .item-top-menu-wrapper .item .material-icons{
    color: var(--dark);
}
header .item-top-menu-wrapper .dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--red);
    visibility: hidden;
    position: absolute;
    bottom: -6px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .item-top-menu-wrapper .dot.active{
    visibility: visible;
}
header .item-top-menu-wrapper .dot span{
    font-size: 12px;
    color: var(--light);
}


header .item-top-menu-wrapper.dropdown .dropdown-menu.show{
    transform: unset !important;
    top: calc(100% + 10px) !important;
    right: 0px !important;
    left: unset !important;
    padding: 10px;
    cursor: default;
    max-height: 500px;
}
header .item-top-menu-wrapper.dropdown .dropdown-item{
    min-width: 250px;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease 0s;
    display: flex;
    align-items: center;
    position: relative;
}

header .item-top-menu-wrapper.dropdown .dropdown-item:hover{
    background-color: #f3f3f3;
}
header .item-top-menu-wrapper.dropdown .dropdown-item a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
header .item-top-menu-wrapper.dropdown .dropdown-item img,
header .item-top-menu-wrapper.dropdown .dropdown-item > .dropdown-item-icon-wrapper{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}
header .item-top-menu-wrapper.dropdown .dropdown-item h6{
    font-size: 16px;
    line-height: 1.5em;
    color: var(--dark);
    font-weight: 500;
    margin-bottom: 0;
}
header .item-top-menu-wrapper .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit : cover;
}


/* DROPDOWN NOTIFY POPUP */

header .list-notify-wrapper{
    cursor: default;
}
header .list-notify-wrapper-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    margin-bottom: 10px;
}
header .list-notify-wrapper-header h6{
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 600;
    color: var(--dark);
    margin-bottom: 0;
}

header .list-notify .text-not-notify{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
    color: var(--medium);
    margin-bottom: 0;
    text-align: center;
}
header .notify-item{
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}
header .notify-item:hover{
    background-color: #ececec;
}
header .notify-item-avatar-wrapper{
    margin-right: 10px;
}
header .notify-item-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
header .notify-item-text{
    display: flex;
    flex-direction: column;
}
header .notify-item-text .notify-item-title,
header .notify-item-text .notify-item-time{
    font-size: 16px;
    line-height: 1.3em;
    color: var(--dark);
}
header .notify-item-text .notify-item-title .author{
    font-weight: 600;
    margin-right: 5px;
}
header .notify-item-text .notify-item-time{
    font-size: 14px;
}

header .notify-item-dot {
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    border-radius: 50%;
}

header .list-notify-wrapper-footer{
    width: 100%;
    height: fit-content;
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .list-notify-wrapper-footer > span{
    cursor: pointer;
}
header .list-notify-wrapper-footer > span:hover{
    text-decoration: underline;
}
