.message-page{
    max-height: calc(100vh - 66px);
    overflow-y: hidden;
    /* background-color: #efefef; */
    background-color: var(--light);
    padding-top: 20px;
}
.message{
    display: flex;
    /* background-color: #e8eef6; */
    border-radius: 8px;
    background: var(--primary-blue-light, rgba(29, 155, 240, 0.05));
    height: calc(100% - 105px);
    box-shadow: 0 0 1px 2px #dddddd;
}
.message-left{
    width: 30%;
    max-height: calc(100vh - 88px);
    padding: 16px 16px 10px;
    border-right: 1px solid #e6e6e6;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
.message-left-header{
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}

.message-left-header .text-wrapper{
    margin-bottom: 10px;
}
.message-left-header .text-wrapper h6{
    font-size: 20px;
    line-height: 1.333em;
    font-weight: 600;
    color: var(--dark);
    margin-bottom: 0;
}
.message-left-header .search-form{
    width: 100%;
}
.message-left-header .search-form input[type='text']{
    width: 100%;
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 14px;
    color: var(--dark);
    background-color: var(--light-medium);
}
.message-left-header .search-form button{
    display: none;
}
.message-left-body{
    overflow-y: auto;
    overflow-x: hidden;
}
.message-left-body::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #F5F5F5;
}
.message-left-body::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}
.message-left-body::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--medium);
}
.message-left-body-chat-list .user-card{
    border-radius: 8px;
    cursor: pointer;
}
.message-left-body-chat-list .user-card:hover{
    background-color: var(--light-medium);
}
.message-left-body-chat-list .user-card:first-child,
.message-left-body-chat-list .user-card:last-child{
    border-radius: 6px;
}
.message-left-body-chat-list .user-card > a{
    display: none;
}
.message-left-body-chat-list .user-card .fa-circle{
    font-size: 10px;
    color: var(--medium);
}
.message-left-body-chat-list .user-card .fa-circle.actived{
    color: var(--green);
}
.message-left-body-chat-item{
    border-radius: 6px;
}
.message-left-body-chat-item.active{
    background-color: var(--light-medium);
}

.message-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message-right .choose-your-conversation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message-right .choose-your-conversation > svg,
.message-right .choose-your-conversation > h6,
.message-right .choose-your-conversation > span{
    width: 100%;
    text-align: center;
}
.message-right .choose-your-conversation > svg{
    margin-bottom: 10px;
}
.message-right-header{
    background-color: transparent;
    padding: 10px 16px;
    border-bottom: 1px solid var(--light-medium);
    display: flex;
    justify-content: space-between;
}
.message-right-header .user-info-wrapper{
    display: flex;
    align-items: center;
}
.message-right-header .user-info-wrapper .avatar-wrapper {
    margin-right: 10px;
}
.message-right-header .user-info-wrapper .avatar-wrapper img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50px;
}
.message-right-header .user-info-wrapper .user-info .user-fullname{
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    color: var(--dark);
    margin-bottom: 0;
}
.message-right-header .icon-more-wrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.message-right-body{
    width: 100%;
    height: 500px;
    background-color: transparent;
    overflow-y: auto;
}
.message-right-body::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #F5F5F5;
}
.message-right-body::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}
.message-right-body::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--medium);
}
.message-right-body .message-right-body-message-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.message-line {
    display: flex;
    padding: 10px 16px;
}
.message-line.receiver-message{
    justify-content: start;
}
.message-line.sender-message{
    justify-content: end;
}
.message-line-avatar-wrapper{
    margin-right: 10px;
}
.message-line-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.message-line-name-time-wrapper{
    height: 40px;
    display: flex;
    align-items: center;
}
.message-line-name-time-wrapper .message-line-name{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--dark);
    margin-right: 5px;
}
.message-line-name-time-wrapper .fa-circle{
    font-size: 5px;
    margin-right: 5px;
}
.message-line-name-time-wrapper .message-line-time{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--medium);
}
.message-line-text-wrapper{
    border-radius: 8px;
    background-color: var(--light);
    padding: 8px 12px;
    max-width: 50%;
    width: fit-content;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.message-line-text-wrapper .message-line-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--medium-dark);
    text-align: start;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
}
.message-line-media-wrapper{
    width: 100%;
}
.message-line-media-wrapper img,
.message-line-media-wrapper video{
    width: 280px;
    height: calc(50vh);
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2px;
}
.message-line.sender-message .message-line-avatar-wrapper{
    order: 1;
    margin-right: 0;
    margin-left: 10px;
}
.message-line.sender-message .message-line-name-time-wrapper{
    justify-content: end;
}
.message-line.sender-message .message-line-name{
    order: 2;
    margin-right: 0;
    margin-left: 5px;
}
.message-line.sender-message .fa-circle{
    order: 1;
    margin-right: 0;
    margin-left: 5px;
}
.message-line.sender-message .message-line-time{
    order: 0;
}
.message-line.sender-message .message-line-text-wrapper{
    background-color: var(--blue);
    margin-left: auto;
}
.message-line.sender-message .message-line-text{
    color: var(--light);
}
.message-line .loading-message{
    width: 40px;
    height: 40px;
}

.message-right-footer{
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--light-medium);
    position: relative;
}
.message-right-footer .message-form-list-media{
    width: 100%;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    display: flex;
    user-select: none;
}
.message-right-footer .message-form-list-media::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #F5F5F5;
}
.message-right-footer .message-form-list-media::-webkit-scrollbar{
	height: 8px;
	background-color: #dadada;
}
.message-right-footer .message-form-list-media::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--medium);
}
.message-right-footer .message-form-list-media .message-form-item-media{
    padding: 4px;
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
}
.message-right-footer .message-form-list-media .message-form-item-media .icon-minus-wrapper{
    background-color: var(--light);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}
.message-right-footer .message-form-list-media .message-form-item-media img,
.message-right-footer .message-form-list-media .message-form-item-media video{
    width: 120px;
    height: 70px;
    object-fit: cover;
}
.message-right-footer .message-form-input{
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 50px;
    background-color: #efefef;
}
.message-right-footer .message-form-input .message-form-button{
    position: relative;
}
.message-right-footer .message-form-input .message-form-button .icon-wrapper{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.message-right-footer .message-form-input .message-form-button .icon-wrapper:hover{
    background-color: var(--light-medium);
}
.message-right-footer .message-form-input .message-form-button label.icon-wrapper{
    margin-right: 5px;
}
.message-right-footer .message-form-input .message-form-button .list-reactions{
    width: fit-content;
	height: fit-content;
    display: none;
    grid-template-columns: repeat(9, 30px);
    text-align: center;
    cursor: pointer;
    background-color: var(--light);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	z-index: 5;
    position: absolute;
    bottom: 100%;
    left: 0;
    user-select: none;
}
.message-right-footer .message-form-input .message-form-button .list-reactions.show{
    display: grid;
}
.message-right-footer .message-form-input .message-form-button input[type='file']{
    display: none;
}
.message-right-footer .message-form-input > input[type='text']{
    font-size: 14px;
    font-weight: 400;
    color: var(--dark);
    width: 100%;
    background-color: transparent;
}
.message-right-footer .message-form-input button{
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    background-color: transparent;
    transition: all .3s ease 0s;
}
.message-right-footer .message-form-input button:hover{
    background-color: #d4d4d4;
}
.message-right-footer .message-form-input button:disabled{
    cursor: default;
    background-color: transparent;
}
.message-right-footer .message-form-input button svg{
    width: 20px;
    height: 20px;
    fill: var(--blue);
}
.message-right-footer .message-form-input button:disabled svg{
    fill: var(--medium);
}