.detail-post{
    height: 100%;
    padding-top: 20px;
    background-color: #f5f5f5;
}
.detail-post.dark-theme{
    filter: invert(1);
}
.detail-post .image-loading{
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
.detail-post.dark-theme .image-loading{
    filter: invert(1);
}
/* header post */
.detail-post .header-post-wrapper{
    padding: 16px;
}
.detail-post .header-post{
    display: flex;
    align-items: center;
}
.detail-post .header-post .avatar-wrapper{
    margin-right: 16px;
    position: relative;
}
.detail-post .header-post .avatar-wrapper a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.detail-post .header-post .avatar-wrapper .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.detail-post.dark-theme .header-post .avatar-wrapper .avatar{
    filter: invert(1);
}

.detail-post .header-post .name-wrapper{
    display: flex;
    flex-direction: column;
}
.detail-post .header-post .name-wrapper .fullname{
    font-size: 16px;
	line-height: 1.5em;
    color: var(--dark);
    margin-bottom: 0;
    transition: all .3s ease 0s;
}
.detail-post .header-post .name-wrapper .fullname:hover{
    text-decoration: underline;
}
.detail-post .header-post .name-wrapper .date-post{
    font-size: 14px;
	line-height: 1.5em;
    color: var(--medium);
}

.detail-post .header-post .dropdown{
    margin-left: auto;
    position: relative;
}
.detail-post .header-post .dropdown .icon-dropdown{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease 0s;
}
.detail-post .header-post .dropdown .icon-dropdown:hover{
    background-color: var(--light-medium);
}
.detail-post .header-post .dropdown .dropdown-menu{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--light);
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    display: none;
    flex-direction: column;
    z-index: 5;
}
.detail-post .header-post .dropdown.show .dropdown-menu{
    display: flex;
}
.detail-post .header-post .dropdown .dropdown-item{
    width: 100%;
    padding: 6px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.detail-post .header-post .dropdown .dropdown-item:hover{
    background-color: var(--light-medium);
}
.detail-post .header-post .dropdown .name-option{
    font-size: 14px;
    line-height: 1.5em;
    color: var(--medium-dark);
    user-select: none;
}
.detail-post .header-post .dropdown .dropdown-item .fa-solid{
    font-size: 14px;
    margin-right: 5px;
}

/* body post */
.detail-post .body-post{
    padding: 0 16px;
}
.detail-post .body-post .content-post span{
    text-align: start;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    color: var(--dark);
    line-height: 1.3333;
    font-weight: 400;
    word-break: break-word;
}
.detail-post .body-post .content-post .read-more{
    font-weight: 600;
    transition: all .3s ease 0s;
    cursor: pointer;
}
.detail-post .body-post .content-post .read-more:hover{
    text-decoration: underline;
}

.detail-post .body-post .swiper{
    width: 100%;
    height: 500px;
    margin-top: 16px;
}
.detail-post .body-post .swiper-slide{
    width: 100%;
    height: 100%;
}
.detail-post .body-post .swiper-slide img,
.detail-post .body-post .swiper-slide video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-position: center;
}
.detail-post.dark-theme .body-post .swiper-slide img,
.detail-post.dark-theme .body-post .swiper-slide video{
    filter: invert(1);
}

/* SLIDER */
.detail-post .swiper-button-prev,
.detail-post .swiper-button-next {
    width: 28px;
    height: 28px;
    background-color: var(--light);
    background-position: center;
    border-radius: 100%;
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-post .swiper-button-next::after,
.detail-post .swiper-button-prev::after {
    font-size: 12px;
    font-weight: 600;
}
.detail-post .swiper-pagination-bullet{
    background-color: rgba(208, 208, 208);
}
.detail-post .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: var(--light);
}

/* footer post */
.detail-post .footer-post{
    display: block;
    width: 100%;
    padding: 16px 16px 10px;
}
.detail-post .footer-post .action-bar-post{
    display: flex;
    padding: 2px 0;
    border-top: 1px solid var(--light-medium);
    border-bottom: 1px solid var(--light-medium);
}
.detail-post .footer-post .action-button{
    background-color: transparent;
    padding: 8px;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
    color: var(--dark);
    cursor: pointer;
    position: relative;
}

.detail-post .footer-post .action-button:hover{
    background-color: #f0f0f0;
}
.detail-post .fas.fa-heart{
    color: var(--red);
}
.detail-post.dark-theme .fas.fa-heart,
.detail-post.dark-theme .fas.fa-bookmark{
    filter: invert(1);
}
.detail-post .footer-post .action-button > a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.detail-post .footer-post .info-post{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-post .footer-post .info-post > span{
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
}
/* form Comment post*/
.detail-post .form-comment-post{
    padding: 0 16px 16px;
}
.detail-post .form-comment-post .input-comment-wrapper{
    width: 100%;
    padding: 10px 16px;
    border-radius: 30px;
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
}
.detail-post.dark-theme .form-comment-post .input-comment-wrapper a{
    filter: invert(1);
}
.detail-post .form-comment-post .input-comment{
    outline: none;
    width: 100%;
    background-color: transparent;
}
.detail-post .form-comment-post .button-comment{
    display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s ease 0s;
    background-color: transparent;
    width: 30px;
    height: 28px;
    border-radius: 50%;
}
.detail-post .form-comment-post .button-comment .fa-paper-plane{
    color: #3888ff;
}
.detail-post.dark-theme .form-comment-post .button-comment .fa-paper-plane{
    filter: invert(1);
}
.detail-post .form-comment-post .button-comment:hover .fa-paper-plane{
    color: #2b71db;
}

/* COMMENT IN POST */
.detail-post .comment-post{
    padding: 0 16px 10px;
    user-select: none;
}
.detail-post .comment-post .more-comment{
    font-size: 14px;
    line-height: 1.3;
    color: var(--medium);
    font-weight: 600;
    cursor: pointer;
}
.detail-post .comment-post .more-comment:hover{
    text-decoration: underline;
}
.detail-post .comment-post-display{
    margin-bottom: 10px;
}
.detail-post .comment-post-card{
    display: flex;
}
.detail-post .comment-post-card.disable{
    opacity: 0.5;
    pointer-events: none;
}
.detail-post .comment-post-card .avatar-wrapper{
    padding-top: 10px;
    margin-right: 10px;
}
.detail-post .comment-post-card .avatar-wrapper .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.detail-post .comment-post-card .comment-wrapper{
    width: 100%;
}
.detail-post .comment-post-card .comment-content{
    padding: 12px;
    border-radius: 18px;
    margin-bottom: 6px;
    width: fit-content;
    background-color: #F0F2F5;
}
.detail-post .comment-post-card .comment-content.edit{
    width: 100%;
}
.detail-post .comment-post-card .comment-wrapper .name{
    font-size: 16px;
	line-height: 1.5em;
    color: var(--dark);
    margin-bottom: 0;
}
.detail-post .comment-post-card .comment-wrapper textarea{
    width: 100%;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.3em;
}
.detail-post .comment-post-card .comment-wrapper .content-wrapper{
    text-align: start;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    color: var(--dark);
    line-height: 1.3333;
    font-weight: 400;
    word-break: break-word;
}
.detail-post .comment-post-card .comment-wrapper .content-wrapper .read-more{
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease 0s;
}
.detail-post .comment-post-card .comment-wrapper .content-wrapper .read-more:hover{
    text-decoration: underline;
}
.detail-post .comment-post-card .bottom-comment{
    display: flex;
    align-items: center;
    padding: 0 12px;
}
.detail-post .comment-post-card .bottom-comment li{
    font-size: 12px;
    line-height: 1.5em;
    margin-right: 20px;
    color: var(--dark);
    font-weight: 600;
    cursor: pointer;
}
.detail-post .comment-post-card .bottom-comment .like-comment,
.detail-post .comment-post-card .bottom-comment .date-comment{
    cursor: auto;
}
.detail-post .comment-post-card .bottom-comment .like-comment .button{
    padding: 0;
    background-color: transparent;
    color: var(--black);
    border: 0;
    font-size: 12px;
    margin-right: 5px;
}
.detail-post .comment-post-card .bottom-comment .date-comment{
    font-weight: 400;
    color: var(--medium);
}

.detail-post .comment-post-card .bottom-comment .comment-menu-wrapper{
    opacity: 0;
}
.detail-post .comment-post-card .comment-wrapper:hover .comment-menu-wrapper{
    opacity: 1;
}
.detail-post .comment-post-card .bottom-comment .comment-menu-wrapper .dropdown{
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}
.detail-post .comment-post-card .bottom-comment .comment-menu-wrapper .dropdown:hover{
    background-color: #cfcfcf;
}
.detail-post .comment-post-card .bottom-comment .comment-menu-wrapper .dropdown-item{
    font-size: 14px;
}
.detail-post .comment-post-card .bottom-comment .comment-menu-wrapper .dropdown-item .fa-solid{
    margin-right: 10px;
}
/* REPLY COMMENT */
.detail-post .comment-post-card .form-comment-post{
    padding: 0;
    margin-top: 10px;
}
.detail-post .comment-post-card .form-comment-post a{
    min-width: fit-content;
    margin-right: 10px;
}
.detail-post .comment-post-card .reply-comment-wrapper .comment-post-card{
    margin-top: 10px;
}