.register{
	width: 100%;
	height: 100vh;
	background-color: var(--sub-background);
}
.register .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-register{
	max-width: 500px;
	width: 100%;
	height: fit-content;
	background-color: var(--light);
	padding: 30px 60px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.box-register .logo-wrapper{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.box-register .logo-wrapper svg{
    width: 50px;
    height: 50px;
}
.box-register .title{
    font-size: 32px;
	line-height: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0;
}
.box-register .description{
    font-size: 17px;
	line-height: 1.4em;
    color: var(--dark);
    margin-bottom: 20px;
}
.box-register form{
    margin-bottom: 20px;
}
.box-register form .input-wrapper{
    position: relative;
    margin-bottom: 16px;
}
.box-register form .input-wrapper:nth-child(4){
    margin-bottom: 30px;
}
.box-register form .input-wrapper.error input{
    border-color: var(--red);
}
.box-register form .text-error{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
	line-height: 1.5em;
    color: var(--red);
}
.box-register form label{
    font-size: 17px;
	line-height: 1.4em;
    pointer-events: none;
    padding: 5px 0 5px 0;
    color: var(--dark);
}
.box-register form .fa{
    position: absolute;
    padding: 12px;
    top: 38px;
    right: 4px;
    background-color: var(--light);
    cursor: pointer;
}
.box-register form .button-register{
    width: 100%;
}
.box-register form .button-register:enabled {
    background-color: var(--blue);
	border-color: var(--blue);
}
.box-register form .button-register:enabled:hover  {
	background-color: var(--hover-button);
	border-color: var(--hover-button);
}
.box-register form .button-register:disabled{
	background-color: rgb(179, 209, 255);
	border-color: rgb(179, 209, 255)
}
.box-register form .button-register:disabled:hover{
	background-color: rgb(179, 209, 255);
	border-color: rgb(179, 209, 255)
}

.box-register input{
    padding: 11px 16px;
    border: 2px solid var(--input-border-light);
    border-radius: 5px;
    width: 100%;
    transition: all .3s ease 0s;
}

.box-register input:focus{
    border-color: var(--blue);
}

.box-register .guide-have-acc{
    font-size: 17px;
	line-height: 1.4em;
    color: var(--dark);
    margin-bottom: 0;
    text-align: center;
}
.box-register .guide-have-acc a{
    color: var(--blue);
}
.box-register .guide-have-acc a:hover{
    color: var(--hover-button);
    text-decoration: underline;
}